.my-component {
  background: url('../../../assets/Image/marketplace.svg') no-repeat;
  background-size: cover;
 
  /* Add other styles as needed */
}


.hover-effect {

    text-align: center;
    justify-content: center;
    border-radius: 32px;
    border: 4px solid #7d7d7d;
    background: #FFF;
    box-shadow: 9px 6px 33px 3px rgba(146, 155, 252, 0.31);
    width: 223px;
    height: 294px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 1em;
  }

  .hover-effect:hover {
    border: 4px solid #525FE1;
    background-color: #A8B2FF; /* Change this to your desired background color on hover */
  }

  .hover-effect img {
    width: 50%; /* Adjust this as needed */
    height: auto;
    
  }

  .hover-effect p {
    margin: 0;
  }

  .whywe{
    border-radius: 0px 63px 0px 0px;
   
    flex-shrink: 0;
    background: #A8B2FF;
  }


